<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenid@ a FRIENDS</h1>
    <h2>Todos mis amigos</h2>
    {% for un_amigo in todos_amigos %}
        <p>First Name: {{un_amigo.nombre}}</p>
        <p>Last Name: {{un_amigo.apellido}}</p>
        <p>Occupation: {{un_amigo.ocupacion}}</p>
        <hr>
    {% endfor %}




</body>
</html>